_ReSharper.*
[Bb]in/
[Oo]bj/
csx/
*.user
*.*proj.user
*.suo
*.swp
*.orig
*.[Cc]onfig.transformed
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.ncrunchsolution
*.ncrunchproject
*.cache
*.build.csdef
*dont-edit/
[Aa]pp_Data/
csx/
TestResults/
AppPackages/
VirginFlightSpecials/packages/Callisto.1.2.9/lib/winrt45/Callisto.dll
